/* 
    Document   : opmaak
    Created on : 14-jul-2013, 22:17:01
    Author     : Ellen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.label {
    -fx-text-fill: #ff0000;
    -fx-padding: 30;
    -fx-translate-x:0;
    -fx-translate-y: 400; 
    -fx-background-color:  #ccccff;

}

.ListView{
    /* :/
    -fx-translate-x: 500;
    -fx-translate-y: 500; 
    */
}